<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.luoamin.dao.content.ContentDao">
<!-- 要看好配置文件，尤其要看好符号，#{username}不要写成#（username） -->
 
 	<select id="getContentList" parameterType="AminPamas" resultType="Content">
 		select 
 			id ,
			title as title,
			content,
			create_time as createTime,
			update_time as updateTime,
			user_id as userId,
			tag,
			is_top as isTop,
			is_delete as isDelete,
			status ,
			channel_id as channelId,
			img,
			push,
			is_comment as isComment,
			hits,
			loves,
			collections,
			static_link as staticLink,
			keywords,
			description,
			sub_title as subTitle,
			type,
			category_id as categoryId,
			thumnail
 		from keke_content
 		<trim prefix="where" prefixOverrides="AND | OR">
 		<if test="channelId!=null">
 			channel_Id=#{channelId}
 		</if>
 		<if test="keyword!=null">
 			title like '%${keyword}%'
 		</if>
 		</trim>
 		order by ${order}
 		limit #{pageNo},#{pageSize}
 	</select>
 
 	<select id="countContentList" parameterType="AminPamas" resultType="int">
 		select 
 			count(1)
 		from keke_content
 		<trim prefix="where" prefixOverrides="AND | OR">
 		<if test="channelId!=null">
 			channel_Id=#{channelId}
 		</if>
 		<if test="keyword!=null">
 			title like '%${keyword}%'
 		</if>
 		</trim>
 		
 	</select>
</mapper>